<div class="container">
  <div class="row text-center">
    <div class="col-12">
      <img src="../../assets/images/Seeker.png" width="200" height="100"/>

      <h1>Selecciona la categoría que estas buscando</h1>
    
      <img src="../../assets/images/aseo.png" width="150" height="100"/>
      <br>
      <a href="#" class="button">Aseo</a>
    
      <br>
      <img src="../../assets/images/Educacion.png" width="150" height="100"/>
      <br>
      <a href="#" class="button">Educacion</a>
      
      <br>
      <img src="../../assets/images/Mascotas.png" width="150" height="100"/>
      <br>
      <a href="#" class="button">Mascotas</a>
    
    

    </div>
  </div>
</div>